.navbar {
  background-color: rgba(0, 0, 0, 0);
  justify-content: space-around;
  align-items: center;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav-link {
  color: #797979;
  font-family: Sfnstext, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.nav-link.w--current {
  color: #797979;
}

.body {
  background-color: #e2e4da;
}

.container {
  margin-left: 75px;
  margin-right: 75px;
}

.container.spacey {
  margin-top: 10%;
}

.section {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.section.top {
  padding-top: 8%;
  padding-left: 13%;
  padding-right: 0%;
}

.section.middle {
  padding-left: 13%;
}

.section.end {
  justify-content: center;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
}

.block {
  padding-left: 5%;
}

.block.info {
  width: 100%;
  padding-top: 7%;
  padding-right: 20%;
}

.block.info.wide {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 4%;
  padding-right: 10%;
  display: flex;
}

.text.header3 {
  color: #ff5035;
  font-family: Sfnstext, sans-serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 110%;
}

.text.header2 {
  color: #ff5035;
  padding-bottom: 3%;
  font-family: Sfnstext, sans-serif;
  font-size: 35px;
  font-weight: 900;
  line-height: 100%;
}

.text.basic2 {
  color: #727272;
  border-left: 2px solid #ff5035;
  margin-left: .5%;
  padding-left: 2%;
  font-family: Sfnstext, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 130%;
}

.text.header1 {
  color: #ff5035;
  padding-bottom: 3%;
  font-family: Vollkorn, serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
}

.text.header1.thin {
  color: #ff5035;
  padding-top: 3%;
  padding-bottom: 0%;
  font-family: Vollkorn, serif;
  font-weight: 700;
  line-height: 110%;
}

.text.basic1 {
  color: #727272;
  padding-bottom: 2%;
  padding-right: 10%;
  font-family: Sfnstext, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 130%;
}

.text.basic1.caption {
  text-align: center;
  font-size: 12px;
  line-height: 30px;
}

.text.basic1.low {
  padding-top: 1%;
  padding-right: 0%;
  font-weight: 300;
}

.text.basic1.bright {
  color: #fff;
}

.text.basic1.center {
  padding-right: 0%;
  font-size: 13px;
}

.text.basic3 {
  color: #797979;
  padding-bottom: 4%;
  font-family: Sfnstext, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 100%;
}

.text.basic3.thin {
  padding-bottom: 2%;
}

.column {
  padding-left: 0;
  padding-right: 20%;
}

.column.square {
  padding-right: 0%;
}

.experience {
  width: 25%;
}

.experience.wide {
  width: 40%;
}

.experience.wide.right {
  width: 60%;
}

.experience.skills {
  width: 32%;
}

.shelf {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.entry {
  width: 30%;
  padding-bottom: 5%;
  padding-right: 5%;
}

.entry.short {
  width: 25%;
}

.entry.long {
  width: 35%;
}

.left {
  width: 100%;
}

.card {
  width: 55%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 3%;
  display: flex;
}

.card.top {
  width: 75%;
}

.image {
  mix-blend-mode: normal;
}

.options {
  width: 90%;
  display: flex;
}

.option {
  width: 150px;
  height: 130px;
  text-align: center;
  align-items: center;
  padding: 2% 1%;
  display: flex;
}

.advice {
  color: #797979;
  border-left: 2px solid #fff;
  margin-top: 2%;
  padding-left: 2%;
  font-family: Sfnstext, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.tab-link-tab-1 {
  width: 150px;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-left: 1px #fff;
  border-right: 1px #fff;
  justify-content: center;
  align-items: center;
  padding: 2% 1%;
  font-family: Sfnstext, sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: flex;
}

.tab-link-tab-1.w--current {
  width: 150px;
  color: #161616;
  text-align: center;
  background-color: #fff;
  flex-direction: row;
  align-items: center;
  padding: 2% 1%;
  font-family: Sfnstext, sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
}

.tab-pane-tab-1 {
  margin-top: 2%;
}

.tab-link-tab-2 {
  width: 150px;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-right: 1px #fff;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  padding: 2% 1%;
  font-family: Sfnstext, sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: flex;
}

.tab-link-tab-2.w--current {
  color: #161616;
  background-color: #fff;
}

.tabs-menu {
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  align-items: stretch;
  padding-right: 10%;
  display: flex;
}

.tab-pane-tab-2, .tab-pane-tab-3, .tab-pane-tab-4, .tab-pane-tab-5 {
  margin-top: 2%;
}

.tab-link-tab-3 {
  width: 150px;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-right: 1px #fff;
  justify-content: center;
  align-items: center;
  padding: 2% 1%;
  font-family: Sfnstext, sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: flex;
}

.tab-link-tab-3.w--current {
  color: #161616;
  background-color: #fff;
  border-right: 1px solid #fff;
}

.tab-link-tab-4 {
  width: 150px;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-right: 1px #fff;
  justify-content: center;
  align-items: center;
  padding: 2% 1%;
  font-family: Sfnstext, sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: flex;
}

.tab-link-tab-4.w--current {
  color: #161616;
  background-color: #fff;
}

.tab-link-tab-5 {
  width: 150px;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-right: 1px #fff;
  justify-content: center;
  align-items: center;
  padding: 2% 1%;
  font-family: Sfnstext, sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: flex;
}

.tab-link-tab-5.w--current {
  color: #161616;
  background-color: #fff;
}

.text-span {
  text-decoration: underline;
}

.footer {
  width: 100%;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 0%;
}

.big {
  color: #ff5035;
  font-size: 75px;
}

@media screen and (max-width: 991px) {
  .nav-link {
    font-size: 16px;
  }

  .section.top {
    padding-top: 12%;
    padding-left: 8%;
  }

  .section.middle {
    padding-left: 8%;
  }

  .block.info {
    padding-right: 5%;
  }

  .text.header3 {
    font-size: 40px;
  }

  .text.header2 {
    padding-bottom: 2%;
    font-size: 28px;
  }

  .text.basic2 {
    font-size: 14px;
  }

  .text.header1, .text.header1.thin {
    font-size: 20px;
  }

  .text.basic1, .text.basic1.low {
    font-size: 14px;
  }

  .text.basic3 {
    font-size: 16px;
  }

  .text.basic3.thin {
    font-size: 14px;
  }

  .card {
    padding-right: 3%;
  }

  .text-block, .text-block-2, .text-block-3, .text-block-4, .text-block-5 {
    font-size: 14px;
  }

  .big {
    font-size: 65px;
  }
}

@media screen and (max-width: 767px) {
  .text.header3 {
    padding-top: 5%;
  }

  .big {
    font-size: 60px;
  }
}

@media screen and (max-width: 479px) {
  .logo {
    display: none;
  }

  .navbar {
    justify-content: center;
    padding-left: 0%;
    padding-right: 0%;
    display: flex;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
  }

  .nav-link.w--current {
    font-size: 12px;
  }

  .section.top {
    padding-top: 24%;
    padding-left: 2%;
  }

  .section.middle {
    padding-left: 2%;
  }

  .block.info.wide {
    padding-top: 5%;
    padding-right: 5%;
  }

  .text.header3 {
    font-size: 20px;
  }

  .text.header2 {
    padding-bottom: 5%;
    font-size: 18px;
  }

  .text.basic2 {
    margin-top: 1%;
    margin-bottom: 3%;
    padding-right: 20%;
    font-size: 12px;
  }

  .text.header1, .text.header1.thin {
    font-size: 16px;
  }

  .text.basic1 {
    padding-bottom: 5%;
    font-size: 12px;
    line-height: 13px;
  }

  .text.basic1.caption {
    line-height: 15px;
  }

  .text.basic1.low, .text.basic3, .text.basic3.thin {
    font-size: 12px;
  }

  .experience {
    width: 45%;
    margin-bottom: 4%;
    padding-bottom: 2%;
  }

  .experience.wide {
    width: 45%;
  }

  .experience.wide.right {
    width: 55%;
  }

  .experience.skills {
    width: 90%;
  }

  .shelf {
    flex-flow: wrap;
    align-content: stretch;
  }

  .entry {
    width: 90%;
  }

  .card {
    width: 90%;
    padding-right: 0%;
  }

  .card.top {
    width: 90%;
  }

  .tab-link-tab-1 {
    border-left-style: none;
    border-right-style: none;
  }

  .tab-link-tab-2 {
    border-right-style: none;
  }

  .tabs-menu {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 10%;
  }

  .tab-link-tab-3, .tab-link-tab-4, .tab-link-tab-5, .tab-link-tab-5.w--current {
    border-right-style: none;
  }

  .text-block, .text-block-2, .text-block-3, .text-block-4, .text-block-5 {
    font-size: 12px;
  }

  .big {
    font-size: 30px;
  }
}


@font-face {
  font-family: 'Sfnsdisplay';
  src: url('../fonts/SFNSDisplay-Black.otf') format('opentype'), url('../fonts/SFNSDisplay-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sfnsdisplay';
  src: url('../fonts/SFNSDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sfnsdisplay';
  src: url('../fonts/SFNSDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sfnsdisplay';
  src: url('../fonts/SFNSDisplay-Ultralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sfnsdisplay';
  src: url('../fonts/SFNSDisplay-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sfnsdisplay';
  src: url('../fonts/SFNSDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sfnsdisplay';
  src: url('../fonts/SFNSDisplay-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sfnsdisplay';
  src: url('../fonts/SFNSDisplay-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sfnstext';
  src: url('../fonts/SFNSText-Bold.otf') format('opentype'), url('../fonts/SFNSText-BoldG1.otf') format('opentype'), url('../fonts/SFNSText-BoldG2.otf') format('opentype'), url('../fonts/SFNSText-BoldG3.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sfnstext';
  src: url('../fonts/SFNSText-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sfnstext';
  src: url('../fonts/SFNSText-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sfnstext';
  src: url('../fonts/SFNSText-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sfnstext';
  src: url('../fonts/SFNSText-RegularG1.otf') format('opentype'), url('../fonts/SFNSText-Regular.otf') format('opentype'), url('../fonts/SFNSText-RegularG2.otf') format('opentype'), url('../fonts/SFNSText-RegularG3.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Itc avant garde gothic book';
  src: url('../fonts/ITC-Avant-Garde-Gothic-Book-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Itc avant garde gothic lt';
  src: url('../fonts/ITC-Avant-Garde-Gothic-LT-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}